[submodule "legacy/azooKeyMac/Resources/base_n5_lm"]
	path = legacy/azooKeyMac/Resources/base_n5_lm
	url = https://huggingface.co/Miwa-Keita/base_n5_lm
[submodule "legacy/azooKeyMac/Resources/gguf"]
	path = legacy/azooKeyMac/Resources/gguf
	url = https://huggingface.co/Miwa-Keita/zenz-v3.2-small-gguf
[submodule "wil"]
	path = third_party/wil
	url = https://github.com/microsoft/wil.git
