#include <winres.h>
#include "azookey-version.rc.h"

#pragma code_page(65001)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 ICON "Assets\\azookey-settings.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION AZOOKEY_VERSION_NUMBERS
 PRODUCTVERSION AZOOKEY_VERSION_NUMBERS
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104B0"
        BEGIN
            VALUE "CompanyName", "dolquis\0"
            VALUE "FileDescription", "azooKey Settings\0"
            VALUE "FileVersion", AZOOKEY_VERSION_STRING
            VALUE "InternalName", "azookey_settings\0"
            VALUE "OriginalFilename", "azookey_settings.exe\0"
            VALUE "ProductName", "azooKey Desktop\0"
            VALUE "ProductVersion", AZOOKEY_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END
END
